/*/.idea
/*/.gradle
/*/gradle
/*/.settings
/*/.classpath
/*/.project
/*/target
/solr6.x/bin
/*/build
/*/target
/elasticsearch5.x/server/example/*/plugins
/elasticsearch5.x/server/example/*/bin
/elasticsearch5.x/server/example/*/data
/elasticsearch5.x/server/example/*/lib
/elasticsearch5.x/server/example/*/logs
/elasticsearch5.x/server/example/*/config/scripts
/elasticsearch7.x/server/*/plugins
/elasticsearch7.x/server/*/bin
/elasticsearch7.x/server/*/data
/elasticsearch7.x/server/*/lib
/elasticsearch7.x/server/*/logs
/elasticsearch7.x/server/*/config/scripts
/*/gradlew
/*/gradlew.bat
*.keystore
